.intro {
  color: white;
  text-align: center;
  background-image: url(./assets/images/backgrounds/h_img.jpg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 23%;
}

.about {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.services {
  color: white;
  text-align: center;
  background-image: url(./assets/images/backgrounds/s_image.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  padding-top: 15vh;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
   margin: 6vh;
}

.portfolio, h1 {
  text-align: center;
}

.what-we-do {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10vh;
}

