.intro {
  color: white;
  text-align: center;
  background-image: url(./assets/images/backgrounds/h_img.jpg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 23%;
}

.about {
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.services {
  color: white;
  text-align: center;
  background-image: url(./assets/images/backgrounds/s_image.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  padding-top: 20vh;
}

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 6vh;
}

.portfolio,
h1 {
  text-align: center;
}

.what-we-do {
  margin-top: -15vh;
  margin-bottom: 15vh;
  align-items: center;
}

.specialities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 25vh;
  margin-right: 25vh;
  padding-top: 5vh;
}

.design,
.development,
.product {
  text-align: center;
}

.contact {
  color: white;
  padding-top: 15vh;
  background-image: url(./assets/images/backgrounds/c_image.jpg);
  height: 70vh;
  position: relative;
}

#name {
  position: absolute;
  right: 120vh;
}

#email {
  position: absolute;
  left: 100vh;
}

#commentBox {
  position: absolute;
  top: 215px;
  left: 75vh;
}

#submitBtn {
  position: absolute;
  top: 300px;
  left: 100vh;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}

.footer,
p {
  text-align: center;
}
